mat-toolbar-row {
  align-items: center;
  justify-content: center;
  height: 80px;
}

mat-toolbar {
  padding-top: 10px;
}

form {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.wrapper-header{
  margin: 16px;
}
